@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: hsl(0, 0%, 100%);
}

/* Layout containers for responsiveness */

.container-mobile {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

.continer-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.front-regular {
  font-weight: 400;
}

.front-medium {
  font-weight: 500;
}

.front-bold {
  font-weight: 700;
}

.text-very-dark {
  color: hsl(0, 0%, 17%);
}

.text-dark {
  color: hsl(0, 0%, 59%);
}