@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.desktop-background {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 40vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100vw;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-Family: 'Rubik', sans-serif;
  font-size: x-large;
}

.header-text {
  font-Family: 'Rubik', sans-serif;
  font-size: 0.5rem;
}

.search-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 60vw;
}

.search-button {
  background-color: black;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;
  outline: none;
}


input {
  flex-direction: row;
  padding: 14px;
  padding-right: 12px;
  width: 100%;
  border-radius: 10px;
  font-Family: 'Rubik', sans-serif;
  box-sizing: border-box;
  background-color: white;
  outline: none;
  color: black;
  font-size: 1rem;
}

h1 {
  font-Family: 'Rubik', sans-serif;
  color: grey;
  font-size: 0.5rem;
}

h2 {
  color: black;
  font-Family: 'Rubik', sans-serif;
  font-size: 1rem;
}

.ip-search {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  font-Family: 'Rubik', sans-serif;
}

.search-box {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.line-decorate {
  width: 1px;
  height: 60px;
  background-color: black;
  margin: 0 20px;
}

.desktop-ip-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  width: 100%;
}

/* sizing of map container */
.leaflet-container {
  display: flex;
  flex-direction: row;
  top: 0px;
  height: 100vh;
  width: 100vw;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.5rem;
  padding: 10px;
  background-color: white;
  font-Family: 'Rubik', sans-serif;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }

  .input {
    padding: 6px;
  }

  .desktop-background {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 100vh;
    width: 100vw;
  }

  .header-container {
    padding: 0px;
    margin: 10px;
    top: 10px;
    width: 100%;
    height: 100%;
  }

  .desktop-ip-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 40px;
    position: relative;
  }

  .ip-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    position: relative;
    padding: 0px;
    width: 80%;
    margin-top: -10px;
  }

  .search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
  }

  .line-decorate {
    display: none;
  }

  .leaflet-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    background-color: white;
  }

}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .card {
    width: 48%;
  }
}

/* Large devices (desktops) */
@media (min-width: 1025px) {
  .card {
    width: 30%;
  }
}